
.home__container{
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.home__title{
    padding: 0;
    margin: 0;
    max-width: 80%;
}

.home__subtitle{
    padding: 0;
    margin: 0;
    color: var(--principalRed);
    font-size: 2.3rem;
}

.home__p{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: large;
}

