.home__form-input{
    border: none;
    padding: .6rem;
    font-weight: bold;
}


.home__form-button{
    border: none;
    padding: .6rem;
    background-color: var(--principalRed);
    color: aliceblue;
    cursor: pointer;
    transition: background-color .4s;
}

.home__form-button:hover{
    background-color: var(--principalRedHover);
}

